@charset "utf-8";

/*------------------------------------------------------------------------------------------------------
* Project    :                                        
* Author     :  Piyush Tapaniya | +91 83060 05795
* Version    :  1.0
*------------------------------------------------------------------------------------------------------- 
NOTE: This is the main stylesheet of the template, This file contains the styling for the actual Template
------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 1600px) {}

@media only screen and (max-width: 1600px) {}

@media only screen and (max-width: 991px) {
    .nav-logo {
        font-size: 18px;
        max-width: 190px;
    }

    .section-title-box h2 {
        font-size: 36px; 
    }
    .about-area .section-title-box {
        margin-left: 0;
    }
    .about-area .about-content { 
        margin-left: 0;
    }

    .services-wapper { 
        grid-template-columns: 1fr;
    }
    .contact-info-item {
        padding: 20px;
    }
     
    .mobile-banner {
        display: block !important;
    }
    .desktop-banner {
        display: none !important;
    }

    .f-one {
        margin-top: 0;
    }

    .footer-widget.links-widget {
        margin-top: 30px;
    } 

    .overlay-content { 
        position: relative;
        bottom: 0 !important;
        right: 0 !important;
        left: 0 !important;
        padding: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .contact-info-block {
        margin-left: 0;
    }
    .contact-info-content a,
    .footer-top .links-widget .links-list li a {
        word-break: break-all;
    }
    .footer-right-column {
        grid-template-columns: repeat(1, 1fr);
    }
    .book-now-btn button {
        width: 100%;
        margin-bottom: 30px;
    }
    .contact-info-item {
        min-height: auto;
    }
    .menu-links-widget ul {
        gap: 18px;
        flex-wrap: wrap;
    }

    .footer-widget {
        padding: 0 !important;
    }

    .about-area .about-image .image-2 { 
        max-width: 180px;
        right: 20px;
        top: 50%; 
    }
}

@media only screen and (max-width: 550px) {
    .nav-logo {
        font-size: 15px;
        max-width: 170px;
    } 
    .overlay-content h3 {
        font-size: 20px; 
    }
}